src/lib/Dhl/Psf/Api/parcelshopfinder-1.0.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://v1.soap.service.europe.postfinder.dpag.de/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="SoapServiceImplService" targetNamespace="http://v1.soap.service.europe.postfinder.dpag.de/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://v1.soap.service.europe.postfinder.dpag.de/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://v1.soap.service.europe.postfinder.dpag.de/">
  <xs:element name="getParcellocationByAddress" type="tns:getParcellocationByAddress"/>
  <xs:element name="getParcellocationByAddressResponse" type="tns:getParcellocationByAddressResponse"/>
  <xs:element name="getParcellocationByCoordinate" type="tns:getParcellocationByCoordinate"/>
  <xs:element name="getParcellocationByCoordinateResponse" type="tns:getParcellocationByCoordinateResponse"/>
  <xs:complexType name="getParcellocationByCoordinate">
    <xs:sequence>
      <xs:element name="lat" type="xs:double"/>
      <xs:element name="lng" type="xs:double"/>
      <xs:element minOccurs="0" name="service" nillable="true" type="tns:service"/>
      <xs:element minOccurs="0" name="countrycode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getParcellocationByCoordinateResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parcelLocation" type="tns:psfParcellocation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="psfParcellocation">
    <xs:sequence>
      <xs:element minOccurs="0" name="additionalInfo" type="xs:string"/>
      <xs:element minOccurs="0" name="additionalStreet" type="xs:string"/>
      <xs:element minOccurs="0" name="area" type="xs:string"/>
      <xs:element minOccurs="0" name="city" type="xs:string"/>
      <xs:element minOccurs="0" name="countryCode" type="xs:string"/>
      <xs:element minOccurs="0" name="district" type="xs:string"/>
      <xs:element minOccurs="0" name="format1" type="xs:string"/>
      <xs:element minOccurs="0" name="format2" type="xs:string"/>
      <xs:element minOccurs="0" name="geoPosition" type="tns:location"/>
      <xs:element minOccurs="0" name="houseNo" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="keyWord" type="xs:string"/>
      <xs:element minOccurs="0" name="location" type="tns:location"/>
      <xs:element minOccurs="0" name="partnerType" type="xs:string"/>
      <xs:element minOccurs="0" name="primaryKeyDeliverySystem" type="xs:string"/>
      <xs:element minOccurs="0" name="primaryKeyZipRegion" type="xs:string"/>
      <xs:element minOccurs="0" name="primaryLanguage" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="psfClosureperiods" nillable="true" type="tns:psfClosureperiod"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="psfFiles" nillable="true" type="tns:psfFiles"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="psfForeignKeys" nillable="true" type="tns:psfForeignkeys"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="psfOtherinfos" nillable="true" type="tns:psfOtherinfo"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="psfServicetypes" nillable="true" type="tns:service"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="psfTimeinfos" nillable="true" type="tns:psfTimeinfo"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="psfWelcometexts" nillable="true" type="tns:psfWelcometext"/>
      <xs:element minOccurs="0" name="routingCode" type="xs:string"/>
      <xs:element minOccurs="0" name="secondaryLanguage" type="xs:string"/>
      <xs:element minOccurs="0" name="shopName" type="xs:string"/>
      <xs:element minOccurs="0" name="shopType" type="xs:string"/>
      <xs:element minOccurs="0" name="street" type="xs:string"/>
      <xs:element minOccurs="0" name="systemID" type="xs:string"/>
      <xs:element minOccurs="0" name="tertiaryLanguage" type="xs:string"/>
      <xs:element minOccurs="0" name="zipCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="location">
    <xs:sequence>
      <xs:element name="distance" type="xs:long"/>
      <xs:element name="latitude" type="xs:double"/>
      <xs:element name="longitude" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="psfClosureperiod">
    <xs:sequence>
      <xs:element minOccurs="0" name="fromDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="toDate" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="type" type="tns:closurePeriodType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="psfFiles">
    <xs:sequence>
      <xs:element minOccurs="0" name="category" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="path" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="psfForeignkeys">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="scope" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="psfOtherinfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="type" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="psfTimeinfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="psfParcellocations" nillable="true" type="tns:psfParcellocation"/>
      <xs:element minOccurs="0" name="timefrom" type="xs:string"/>
      <xs:element minOccurs="0" name="timeto" type="xs:string"/>
      <xs:element minOccurs="0" name="type" type="tns:timeInfoType"/>
      <xs:element minOccurs="0" name="weekday" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="psfWelcometext">
    <xs:sequence>
      <xs:element minOccurs="0" name="content" type="xs:string"/>
      <xs:element minOccurs="0" name="id" type="xs:long"/>
      <xs:element minOccurs="0" name="language" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getParcellocationByAddress">
    <xs:sequence>
      <xs:element name="address" type="xs:string"/>
      <xs:element minOccurs="0" name="service" type="tns:service"/>
      <xs:element minOccurs="0" name="countrycode" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getParcellocationByAddressResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="parcelLocation" type="tns:psfParcellocation"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="service">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ageVerification"/>
      <xs:enumeration value="birthdayDiscount"/>
      <xs:enumeration value="cashService"/>
      <xs:enumeration value="COD"/>
      <xs:enumeration value="directDeliveryByDHLExpress"/>
      <xs:enumeration value="ecoFriendly"/>
      <xs:enumeration value="franking"/>
      <xs:enumeration value="handicappedAccess"/>
      <xs:enumeration value="hasXLPostfach"/>
      <xs:enumeration value="mailbox"/>
      <xs:enumeration value="packingMaterial"/>
      <xs:enumeration value="parcelacceptance"/>
      <xs:enumeration value="parcelpickup"/>
      <xs:enumeration value="parking"/>
      <xs:enumeration value="pickupByDHLExpress"/>
      <xs:enumeration value="PINService"/>
      <xs:enumeration value="printAvailability"/>
      <xs:enumeration value="secureShipment"/>
      <xs:enumeration value="shopServices"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="closurePeriodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="holiday"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="timeInfoType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="openinghour"/>
      <xs:enumeration value="closuretime1"/>
      <xs:enumeration value="closuretime2"/>
      <xs:enumeration value="closuretime3"/>
      <xs:enumeration value="closuretime4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServiceException" type="tns:ServiceException"/>
  <xs:complexType name="ServiceException">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="getParcellocationByCoordinate">
    <wsdl:part element="tns:getParcellocationByCoordinate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParcellocationByAddressResponse">
    <wsdl:part element="tns:getParcellocationByAddressResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParcellocationByAddress">
    <wsdl:part element="tns:getParcellocationByAddress" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getParcellocationByCoordinateResponse">
    <wsdl:part element="tns:getParcellocationByCoordinateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceException">
    <wsdl:part element="tns:ServiceException" name="ServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SoapService">
    <wsdl:operation name="getParcellocationByCoordinate">
      <wsdl:input message="tns:getParcellocationByCoordinate" name="getParcellocationByCoordinate">
    </wsdl:input>
      <wsdl:output message="tns:getParcellocationByCoordinateResponse" name="getParcellocationByCoordinateResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceException" name="ServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getParcellocationByAddress">
      <wsdl:input message="tns:getParcellocationByAddress" name="getParcellocationByAddress">
    </wsdl:input>
      <wsdl:output message="tns:getParcellocationByAddressResponse" name="getParcellocationByAddressResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceException" name="ServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SoapServiceImplServiceSoapBinding" type="tns:SoapService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getParcellocationByCoordinate">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getParcellocationByCoordinate">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getParcellocationByCoordinateResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getParcellocationByAddress">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getParcellocationByAddress">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getParcellocationByAddressResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SoapServiceImplService">
    <wsdl:port binding="tns:SoapServiceImplServiceSoapBinding" name="SoapServiceImplPort">
      <soap:address location="http://postfinder-web.doubleslash.de/webservice_europe/soap"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>